<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>{% block title %}Oxford Rivers{% endblock %}</title>
  
  <!-- Bootstrap resources -->  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap resources -->
  
  <!-- Site resources -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'flags/main.css' %}">{% block page_head %}
  {% endblock %}<!-- Site resources -->
</head>
<body>
{% include 'flags/nav.html' %}
  <div class="container">
    <div class="row"><div class="col"><!-- Page-top spacing --></div></div>
    
    <!-- Main page body -->
    {% block page_body %}
    {% endblock %}
    <!-- Main page body -->
    
  </div>
</body>
</html>
