{% extends 'flags/base.html' %}
{% load flag_tags %}

{% block title %}Oxford Rivers - {{ reach }}{% endblock %}

{% block page_body %}
    
    <!-- Out-of-date notice -->
    {% if reach.current_flag_status.out_of_date %}<div class="row"><div class="col"><div class="alert alert-danger" role="alert">
      We have not been able to check the flag for this reach in over two hours.
      For up-to-date information you can <a href="https://ourcs.co.uk/information/flags/" class="alert-link" target="_blank">check the OURCs website directly</a>.
    </div></div></div>{% endif %}
    <!-- Out-of-date notice -->

    <!-- Overview -->
    <div class="row">
      <div class="col-md-7">
        <h1 class="mb-0">{{ reach }}</h1>
        <div>{{ reach.upstream_lock }} Lock to {{ reach.downstream_lock }} Lock</div>
      </div>
      
      <div class="col-md-5">
        <div class="card card-standalone {{ reach.current_flag_status.styling }}">
          <div class="card-body">
            <h4 class="card-title text-center"><strong>{{ reach.current_flag_status }} Flag</strong></h4>
            <table class="table table-sm table-borderless {{ reach.current_flag_status.styling }}">
              <tr>
                <td class="text-left p-0">First shown:</td>
                <td class="text-right p-0">{{ reach.current_flag_status.set_at|date:"d/m/Y H:i" }}</td>
              </tr>
              <tr>
                <td class="text-left p-0">Last checked:</td>
                <td class="text-right p-0">{{ reach.current_flag_status.last_seen|date:"d/m/Y H:i" }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Overview -->
    
    <!-- Interpretation guide -->
    <div class="row"><div class="col">
      <div class="card card-dropdown">
        <div
            id="interpretationHeader"
            class="card-header d-flex justify-content-between"
            type="button"
            data-toggle="collapse"
            data-target="#interpretationBody"
            style="border-bottom: 0px"
        >
          <span>How to interpret this information</span>
          <span class="oi oi-chevron-bottom" id="interpretationArrow"></span>
        </div>
        <div class="collapse" id="interpretationBody"><div class="card-body">
          <p>
            OURCs displays flags <a  href="https://ourcs.co.uk/information/flags/" target="_blank">on their website</a> to indicate the current stream conditions on both the Isis and Godstow reaches.
            In increasing levels of stream, the possible levels are: green, blue<sup>*</sup>, amber, and red, with each flag representing a different set of restrictions which apply.
            During periods where the flag is not being maintained, a grey flag is shown, and during exceptionally high flooding, a black flag may be displayed.
            Information about the restrictions in force for any given flag and how the flag itself it decided, can be found by following the link above.
          </p>
          <p>
            We poll the OURCs website every few minutes and record the flag displayed, when OURCs report that the flag was first shown, and who made that change.
            We also record the first and last times that our data collection observes that flag status, although only the latter is shown on this page since we have no reason to doubt the timekeeping of the OURCs website at this stage.
            For curiosity's sake, we also display the length of time each flag was shown for.
            On the Isis, we note that amber flag is typically only shown for a day or two, while blue flag is typically shown for closer to a week.
          </p>
          <p>
            <sup>*</sup> Godstow does not have a blue flag.
          </p>
        </div></div>
      </div>
    </div></div>
    <!-- Interpretation guide -->
    
    <!-- Past flag status table -->
    <div class="row"><div class="col">
      <table class="table table-sm table-borderless table-responsive-md text-center">
        <thead class="thead-light"><tr>
          <th class="align-middle">Flag</th>
          <th class="align-middle">First Shown</th>
          <th class="align-middle">Last Seen</th>
          <th class="align-middle">Shown For</th>
          <th class="align-middle">Changed By</th>
        </tr></thead>
        {% for status in reach.statuses.all %}<tr class="{{ status.styling }}">
          <th class="align-middle">{{ status.get_flag_display }}</th>
          <td class="align-middle">{{ status.set_at|date:"d/m/Y H:i" }}</td>
          <td class="align-middle">{{ status.last_seen|date:"d/m/Y H:i" }}</td>
          <td class="align-middle">{{ status.last_seen|subtract:status.set_at|duration_days_hours }}</td>
          <td class="align-middle">{{ status.set_by|default:"-" }}</td>
        </tr>{% endfor %}
      </table>
    </div></div>
    <!-- Past flag status table -->
    
    <script type="text/javascript">
      $('#interpretationBody').on('show.bs.collapse', function () {
        $('#interpretationArrow').removeClass('oi-chevron-bottom').addClass('oi-chevron-top');
        $('#interpretationHeader').css('border-bottom', '');
      });
      $('#interpretationBody').on('hidden.bs.collapse', function () {
        $('#interpretationArrow').removeClass('oi-chevron-top').addClass('oi-chevron-bottom');
        $('#interpretationHeader').css('border-bottom', '0px');
      })
    </script>
{% endblock %}
