{% extends 'flags/base.html' %}
{% load flag_tags %}

{% block page_body %}
    <!-- OURCs Flags -->
    <div class="row">
      <div class="col">
        <h2>OURCs Flags</h2>
        <p>
          Restriction levels for college crews that are set by OURCs and made available <a href="https://ourcs.co.uk/information/flags/" target="_blank">on their website</a>.
          They are primarily based on stream levels, but can also be set for other reasons in exceptional circumstances.
        </p>
      </div>
    </div>
    <div class="row">
      {% for reach in flag_reaches %}<div class="col">
        <div class="card">
          <div class="card-header">
            {{ reach }}
          </div>
          <div class="card-body {% if reach.current_flag_status.out_of_date %}text-light bg-secondary{% else %}{{ reach.current_flag_status.styling }}{% endif %}">
            <span class="card-title"><strong>{{ reach.current_flag_status }}{% if reach.current_flag_status.out_of_date %} (Out of date){% endif %}</strong></span>
            <br/>
            <span>{{ reach.current_flag_status.set_at|date:"d/m/Y" }} {{ reach.current_flag_status.set_at|date:"H:i" }}</span>
          </div>
          <a href="{% url 'flags:flag_history' reach.tag %}" class="card-footer text-dark d-flex justify-content-between">
            <div>View History</div>
            <div><span class="oi oi-chevron-right"></span></div>
          </a>
        </div>
      </div>{% endfor %}
    </div>
    <!-- OURCs Flags -->
    
    <!-- Transits --->
    <div class="row">
      <div class="col">
        <h2>Transits</h2>
        <p>
          As of December 2020, rowing boats are only allowed to transit a lock if there are no stream advisories on either side of that lock, and all relevant OURCs flags are green (or equivalent grey).
          Launches may transit locks on yellow boards (a "Caution" advisory) if a risk assessment has been approved by the RowSab, and are not restricted by the Isis (or Godstow) flag.
        </p>
      </div>
    </div>
    <div class="row">
      {% for transit in transits %}<div class="col-md-4">
        <div class="card">
          <div class="card-header">
            {{ transit.destination|capfirst }} Transit
          </div>
          <div class="card-body p-0">
            <table class="table table-sm text-center">
              {% transit_allowed_row 'Boats' transit.rowing True %}{% transit_allowed_row 'Launches' transit.launches %}
            </table>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Transits --->

    <!-- EA Advisories -->
    <div class="row">
      <div class="col">
        <h2>EA Advisories</h2>
        <p>
          These are the latest advisories we have seen on the EA's <a href="http://riverconditions.environment-agency.gov.uk/" target="_blank">river conditions webpage</a>.
          They are checked roughly every five minutes.
        </p>
      </div>
    </div>
    <div class="row">
      {% for reach in all_reaches %}
      <div class="col-lg-2">
        <div class="card">
          <div class="card-header">
            {{ reach }}
          </div>
          <div class="card-body {% if reach.current_advisory.out_of_date %}text-light bg-secondary{% else %}{{ reach.current_advisory.styling }}{% endif %}">
            <span class="card-title"><strong>{{ reach.current_advisory }}{% if reach.current_advisory.out_of_date %} (Out of date){% endif %}</strong></span>
            <br/>
            <span>{{ reach.current_advisory.first_updated|date:"d/m/Y" }}</span>
            <span>{{ reach.current_advisory.first_updated|date:"H:i" }}</span>
          </div>
          <a href="{% url 'flags:advisory_history' reach.tag %}" class="card-footer text-dark d-flex justify-content-between">
            <div>View History</div>
            <div><span class="oi oi-chevron-right"></span></div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- EA Advisories -->
{% endblock %}
