  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Oxford Rivers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_content">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbar_content">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown">
            OURCs Flags
          </a>
          <div class="dropdown-menu">{% for nav_reach in flag_reaches %}
            <a class="dropdown-item" href="{% url 'flags:flag_history' nav_reach.tag %}">{{ nav_reach }}</a>{% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown">
            EA Advisories
          </a>
          <div class="dropdown-menu">{% for nav_reach in all_reaches %}
            <a class="dropdown-item" href="{% url 'flags:advisory_history' nav_reach.tag %}">{{ nav_reach }}</a>{% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'flags:timelines' %}">Timelines</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navbar -->
